

<div id="wrap" data-spy='scroll' data-target='#navbar-header' data-offset='0'>
    <!-- preloader-wrapper start -->
    <!-- <div class="preloader-wrapper">
        <div class="spinner"></div>
    </div> -->
    <!-- preloader-wrapper end -->

    <!-- Header-area -->
    <header id="header-area" data-scroll-index="0" class="header-img-bg">

        <div id="particles-js"></div>

        <!-- header-navigation -->
        <div class="container z-index">
            <nav id="navbar-header" class="navbar navbar-expand-lg fix-navbar">
                <a class="navbar-brand" href="index.html">
		 <div class="brand-mmc-logo"></div>
		    <!-- <img src="icon/1.png"  style="width: 12em;"/> -->
		    <!-- M i c r o M e d i a . C l o u d -->
		    </a>
                <button class="responsive-nav-btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="ion-navicon"></span>
				</button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-right">
                        <li class="nav-item active">
                            <a class="nav-link" data-scroll-nav="0" href="#header-area">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll-nav="1" href="#about-us-section">About</a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link" data-scroll-nav="2" href="#portfolio-area">Products</a> -->
                            <a class="nav-link" data-scroll-nav="2" href="#portfolio-area">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll-nav="3" href="#service-area">Services</a>
                        </li>
			<li class="nav-item">
			     <a class="nav-link" data-scroll-nav="7" href="#contact-area">Contact</a>
			</li>
                        <!-- <li class="nav-item">
							<a class="nav-link" data-scroll-nav="4" href="#team-section">Team</a>
						</li> -->
                        <!--						<li class="nav-item">
							<a class="nav-link" data-scroll-nav="5" href="#pricing-table">Pricing</a>
						</li> -->
                        <!-- <li class="nav-item">
							<a class="nav-link" data-scroll-nav="6" href="#blog-area">Blog</a>
						</li>  
						
						<li class="nav-item">
							<a class="nav-link" href="http://staging.micromedia.cloud:8080/login">Login</a>
						</li>
-->
                    </ul>
                </div>
            </nav>
        </div>
        <!-- /header-navigation -->

        <!-- header-bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 animate-heading item">
                        <h2 class="cd-headline clip">
                            <span>Future</span>
                            <span class="cd-words-wrapper">
								<b class="is-visible">is OPEN</b>
								<b>is NOW !</b>
							</span>
                        </h2>

                        <p>Microservices | Streaming Media | Block Chain | Conversational AI | IoT </p>
                        <a href="#contact-area" class="h-btn">Request Demo</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /header-bottom -->
    </header>
    <!-- /Header-area -->

    <!-- features-area -->

    <section id="features-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-features">
                        <div class="feature-icon">
                            <span class="et-icon icon-gears"></span>
                        </div>
                        <h4>
                            Media Cloud Services
                        </h4>
                        <p>Our Professional Services team help maximize investments with right strategy for your media steaming requirements using the best open technolgy and platforms that scale as per demand.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-features">
                        <div class="feature-icon">
                            <i class="et-icon icon-mobile"></i>
                        </div>
                        <h4>
                            Containerization
                        </h4>
                        <p>Add new capabilities and tools that help clients with rapid, secure application modernization and containerization helping clients build applications once and deploy anywhere.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-features">
                        <div class="feature-icon">
                            <i class="et-icon icon-browser"></i>
                        </div>
                        <h4>
                            DevOps
                        </h4>
                        <p> We help Customer by addressing the key dimensions of technology with continuous Development, Integration, Deployment and scalability to deliver sustainable benefits of Cloud.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /features-area -->

    <!-- about-us-section -->

    <section id="about-us-section" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="aboutus-text">
                        <h3>About Us</h3>
                        <p>A community of passionate individuals whose purpose is to revolutionize software design, creation and delivery with the cutting edge open source technolgies.</p>
                        <p>We are strong believers in the power of software and technology as tools for social change which could make a dent in the universe.</p>
                        <a class="about-btn" href="#contact-area">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <svg width="530" height="360">
						    <defs>
						        <clipPath id="polygonView">
						            <polygon fill="#fff" points="0 0, 1000 0, 1000 1000, 150 1000"></polygon>
						        </clipPath>
						    </defs>
							<image width="530" height="360" xlink:href="assets/img/about-us/front-img.jpeg" clip-path="url(#polygonView)" />

						 </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /about-us-section -->

    <!-- portfolio-area start -->

    <section id="portfolio-area" data-scroll-index="2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <!-- <h2>Our <span class="section-heading-style">Products</span></h2> -->
                        <h2>Our <span class="section-heading-style">Projects</span></h2>
                        <p> Video Streaming solutions - AI Chatbots Medical for Healthcare - Block Chain for Health Insurance</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="portfolio-nav">
                        <li data-filter="5" data-toggle="portfilter" data-target="pink"><a href="https://dm-website-qth6k2r23a-uc.a.run.app" target="_blank">Digital Marketing</a></li>
                        <li data-filter="1" data-toggle="portfilter" data-target="blue">BlockChain</li>
                        <li data-filter="2" data-toggle="portfilter" data-target="red">Education</li>
                        <li data-filter="3" data-toggle="portfilter" data-target="green">Video Streaming</li>
                        <li data-filter="4" data-toggle="portfilter" data-target="grey">AI</li>
                        <li data-filter="all" data-toggle="portfilter" data-target="all">All</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row gallery">
                <div class="col-lg-4 col-md-6" data-tag='grey'>
                    <div class="single-portfolio1 filtr-item">
                        <img src="assets/img/portfolio/2.jpeg" alt="Portfolio">
                        <div class="overlay-social-media">
                            <ul>
                                <li>
                                    <a href="https://voicesp.micromedia.cloud/" target="_blank"><i class="ion-search"></i></a>
                                    <!-- <a href="img/portfolio/2.jpeg"><i class="ion-search"></i></a> -->
                                </li>
                            </ul>
                            <p>AI Chatbots</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-tag='pink'>
                    <div class="single-portfolio1 filtr-item">
                        <img src="assets/img/portfolio/73.jpeg" alt="Portfolio">
                        <div class="overlay-social-media">
                            <ul>
                                <li>
                                    <!-- <a href="img/portfolio/2.jpeg"><i class="ion-search"></i></a> -->
                                    <!-- <a href="img/portfolio/2.jpeg"> -->
                                    <!--                                     <a href="https://digitalmarketing.micromedia.cloud/" target="_blank"><i class="ion-search"></i></a> -->
                                    <a href="https://digitalmarketing.micromedia.cloud" target="_blank"><i class="ion-search"></i></a>

                                    <!-- </a> -->

                                </li>
                            </ul>
                            <p>Digital Marketing</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-tag='blue'>
                    <div class="single-portfolio filtr-item">
                        <img src="assets/img/portfolio/3.jpeg" alt="Portfolio">
                        <div class="overlay-social-media">
                            <ul>
                                <li><a href="assets/img/portfolio/3.jpeg"><i class="ion-search"></i></a></li>
                            </ul>
                            <p>Blockchain for Insurance</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6" data-tag='red'>
                    <div class="single-portfolio filtr-item">
                        <img src="img/portfolio/4.jpeg" alt="Portfolio">
                        <div class="overlay-social-media">
                            <ul>
                                <li><a href="img/portfolio/4.jpeg"><i class="ion-search"></i></a></li>
                            </ul>
                            <p>Learning Management Systems</p>

                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6" data-tag='blue'>
                    <div class="single-portfolio filtr-item">
                        <img src="assets/img/portfolio/5.jpeg" alt="Portfolio">
                        <div class="overlay-social-media">
                            <ul>
                                <li><a href="assets/img/portfolio/5.jpeg"><i class="ion-search"></i></a></li>
                            </ul>
                            <p>DevOps Automation Framework</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-tag='red'>
                    <div class="single-portfolio filtr-item">
                        <img src="assets/img/portfolio/6.jpeg" alt="Portfolio">
                        <div class="overlay-social-media">
                            <ul>
                                <li><a href="assets/img/portfolio/6.jpeg"><i class="ion-search"></i></a></li>
                            </ul>
                            <p>Students Portal(LMS)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-tag='green'>
                    <div class="single-portfolio">
                        <img src="assets/img/portfolio/1.jpeg" alt="Portfolio">
                        <div class="overlay-social-media">
                            <ul>
                                <li><a href="assets/img/portfolio/1.jpeg"><i class="ion-search"></i></a></li>
                            </ul>
                            <p>Video Streaming Solutions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- portfolio-area end -->

    <!-- counter-area start -->
    <!--	
	<section id="counter-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-counter project">
						<span class="counter-heading">project</span>
						<span class="counter">500</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-counter client">
						<span class="counter-heading">Client</span>
						<span class="counter">1500</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-counter awards">
						<span class="counter-heading">Awards</span>
						<span class="counter">1200</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-counter members">
						<span class="counter-heading">Member</span>
						<span class="counter">3500</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	-->
    <!-- /counter-area end -->


    <!-- service-area -->

    <section id="service-area" data-scroll-index="3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Our <span class="section-heading-style">Services</span></h2>
                        <p> Smart | Agile | Automate | Intelligent </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="icon ion-ios-speedometer-outline"></i>
                        </div>
                        <h4>Web Development</h4>
                        <p>Rapid programming leveraging Agile and DevOps Methodolgies </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="icon ion-ios-browsers-outline"></i>
                        </div>
                        <h4>Containerization</h4>
                        <p>Containerize legacy apps to modernize to reduce cost and capabilies to scale</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="icon ion-ios-pulse"></i>
                        </div>
                        <h4>Media Cloud Services</h4>
                        <p>Video Streaming, Onprem Video solution setup and Automation WorkFlows. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="icon ion-ios-bolt-outline"></i>
                        </div>
                        <h4>DevOps</h4>
                        <p>Improve time to market with Continious Development, Integeration and Deployment </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="icon ion-ios-monitor-outline"></i>
                        </div>
                        <h4>BlockChain</h4>
                        <p>Transformaing Businesses with exponentiation of trust using Hyperledger Smart contracts</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="icon ion-ios-cart-outline"></i>
                        </div>
                        <h4>AI Chatbots</h4>
                        <p>Automate leads to qualify and ease convertion, Customer Engagement and AI based Chatbot Customer Support</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /service-area -->


    <!-- team-section -->
    <!-- 	
	<section id="team-section" data-scroll-index="4">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<h2>Our <span class="section-heading-style">Team</span></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, nemo?</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-team">
						<div class="social-team">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<img src="img/team/1.jpeg" alt="Team Member">
						<div class="overlay"></div>
						<div class="intro-team">
							<h4>Masundar</h4> <br>
							<span>Director of Business Development</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team">
						 <div class="social-team">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<img src="img/team/2.jpeg" alt="Team Member">
						<div class="overlay"></div>
						<div class="intro-team">
							<h4>Kannan</h4> <br>
							<span>C T O</span><br>
							<span>Bangalore, India</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team">
						<div class="social-team">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<img src="img/team/3.jpeg" alt="Team Member">
						<div class="overlay"></div>
						<div class="intro-team">
							<h4>Rayhan Ahmmed</h4> <br>
							<span>Programmer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

    <!-- separator-area -->
    <!--
	<section id="separator-area">
		<div class="container z-index">
			<div class="row">
				<div class="col-md-12">
					<div class="separator-text">
						<p>We provide high quality product for your business</p>
						<a href="#">Visit us</a>
					</div>
				</div>
			</div>
		</div>
	</section>-->
    <!-- /separator-area -->


    <!-- pricing-table -->
    <!--
	<section id="pricing-table" data-scroll-index="5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<h2>Pricing <span class="section-heading-style">Plans</span></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, nemo?</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-pricing-table">
						<h3>Economy</h3>
						<h2>$3.99</h2>
						<p>1 Website</p>
						<p>100 GB storage</p>
						<p>Free domain</p>
						<p><a href="#">Get it</a></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-pricing-table active">
						<h3>Delux</h3>
						<h2>$10.99</h2>
						<p>10 Website</p>
						<p>Unlimited storage</p>
						<p>Free domain</p>
						<p><a href="#">Get it</a></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-pricing-table">
						<h3>Unlimited</h3>
						<h2>$19.99</h2>
						<p>Unlimited Website</p>
						<p>Unlimited GB storage</p>
						<p>Free domain</p>
						<p><a href="#">Get it</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>-->
    <!-- /pricing-table -->


    <!-- testimonial-area -->
    <!--
	<section id="testimonial-area">
		<div class="container">
			<div class="row">
				<div class="owl-carousel owl-theme owl-testimonial">
					<div class="col-md-8 offset-md-2 item">
						<div class="single-testimonial">
							<div class="testimonial-image">
								<img src="img/testimonial/1n.jpeg" alt="">
							</div>
							<div class="testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloribus in sapiente, architecto quam dicta?</p>
							</div>
							<div class="testimonial-author">
								<span>Rofiq Khan -</span>
								<span>Web designer</span>
							</div>
						</div>
					</div>
					<div class="col-md-8 offset-md-2 item">
						<div class="single-testimonial">
							<div class="testimonial-image">
								<img src="img/testimonial/2n.jpeg" alt="">
							</div>
							<div class="testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloribus in sapiente, architecto quam dicta?</p>
							</div>
							<div class="testimonial-author">
								<span>Rofiq Khan -</span>
								<span>Web designer</span>
							</div>
						</div>
					</div>
					<div class="col-md-8 offset-md-2 item">
						<div class="single-testimonial">
							<div class="testimonial-image">
								<img src="img/testimonial/3n.jpeg" alt="">
							</div>
							<div class="testimonial-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloribus in sapiente, architecto quam dicta?</p>
							</div>
							<div class="testimonial-author">
								<span>Rofiq Khan -</span>
								<span>Web designer</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>-->
    <!-- /testimonial-area -->


    <!-- blog-area -->
    <!--
	<section id="blog-area" data-scroll-index="6">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<h2>latest <span class="section-heading-style">news</span></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, nemo?</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-blog">
						<div class="blog-img">
							<img src="img/blog/blog_1.jpg" alt="Blog Image">
							<span class="blog-date">25 <br> 05</span>
						</div>
						<div class="blog-text">
							<h3>Our first blog post</h3>
							<p>Lorem ipsum dolor siter amet, consectetur adipisicing elit. Alias rememid qui, voluptas saepe, voluptatum debitis dolore, laborum, ut possimus tempora aperiam suscipit!</p>
							<a href="#">Continue reading</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-blog">
						<div class="blog-img">
							<img src="img/blog/blog_2.jpg" alt="Blog Image">
							<span class="blog-date">25 <br> 05</span>
						</div>
						<div class="blog-text">
							<h3>Our first blog post</h3>
							<p>Lorem ipsum dolor siter amet, consectetur adipisicing elit. Alias rememid qui, voluptas saepe, voluptatum debitis dolore, laborum, ut possimus tempora aperiam suscipit!</p>
							<a href="#">Continue reading</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-blog">
						<div class="blog-img">
							<img src="img/blog/blog_3.jpg" alt="Blog Image">
							<span class="blog-date">25 <br> 05</span>
						</div>
						<div class="blog-text">
							<h3>Our first blog post</h3>
							<p>Lorem ipsum dolor siter amet, consectetur adipisicing elit. Alias rememid qui, voluptas saepe, voluptatum debitis dolore, laborum, ut possimus tempora aperiam suscipit!</p>
							<a href="#">Continue reading</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
    <!-- /blog-area -->


    <!-- contact-area -->

        <section id="contact-area" data-scroll-index="7">
        <div class="container z-index">
            <div class="row">
                <div class="col-md-4 reduce-padding">
                    <div class="single-contact-text">
                        <h4 style="text-align: center;">India</h4>
                        
                        
                        <p style="text-transform: capitalize;color:#17253ff3;text-align: center;">Head office</p>
                        <div class="mmc-address">
                            <p>
                                <span class="location"></span>
                                <!-- <address> -->
                                Palms Grove Road Victoria&nbsp;Layout, Bangalore, India, 560047
                                <!-- </address> -->
                            </p>
                            <p><a href="mailto:bz-dev@micromedia.cloud"><span class="email"></span>
                                bz-dev@micromedia.cloud</a></p>
                            <p><a href="tel:+919900534405"><span class="phone"></span>
                                +91 9900534405</a></p>
                            <p><a href="https://wa.me/919900534405/?&text=Let's%20talk%20about%20everything.&app_absent=0" target="_blank"><span class="whatsapp">&nbsp;</span>+91 9900534405</a></p>
                                <div class="map-container"><a href="https://goo.gl/maps/guHLfgXrParLayfv7" target="_blank"><img src="assets/img/location/India.png" alt="Location INDIA" width="100%" ></a></div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-md-4 reduce-padding">
                    <div class="single-contact-text">
                        <h4 style="text-align: center;">EUROPE</h4>
                        <!-- <p>erlangerstrasse , Herzogenaurach, 91074, Germany</p> -->
                        
                        
                        <p style="text-transform: capitalize;color:#17253ff3;text-align: center;">sales office</p>
                        <div class="mmc-address">
                            <p> <span class="location"></span>2201, Dr.Erwin Ringel Platz, Gerasdorf, Austria.</p>
                            <p><a href="mailto:bz-dev@micromedia.cloud"><span class="email"></span>bz-dev@micromedia.cloud</a></p>
                            <p><a href="tel:+43678122079"><span class="phone"></span>+43 678 1220795</a> </p>
                            <p><a href="https://wa.me/919900534405/?&text=Let's%20talk%20about%20everything.&app_absent=0" target="_blank"><span class="whatsapp">&nbsp;</span>+91 9900534405</a></p>
                            <div class="map-container"><a href="https://goo.gl/maps/jhbZqMyMJmH9k8Zv9" target="_blank"><img src="assets/img/location/Europe.png" alt="Location EUROPE" width="100%" ></a></div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-4 reduce-padding">
                    <div class="single-contact-text">
                        <h4 style="text-align: center;">USA</h4>
                        
                        
                        <p style="text-transform: capitalize;color:#17253ff3;text-align: center;">sales office</p>
                        <div class="mmc-address">
                            <p> <span class="location"></span>2629 Dianne court, East meadow, NY 11554</p>
                            <p><a href="mailto:bz-dev@micromedia.cloud"><span class="email"></span>bz-dev@micromedia.cloud</a></p>
                            <p><a href="tel:+15167495090"><span class="phone"></span>+15167495090</a></p>
                            <p><a href="https://wa.me/919900534405/?&text=Let's%20talk%20about%20everything.&app_absent=0" target="_blank"><span class="whatsapp">&nbsp;</span>+91 9900534405</a></p>
                            <div class="map-container"><a href="https://goo.gl/maps/eJ4cAfP12agBSzyQ8" target="_blank"><img src="assets/img/location/USA.png" alt="Location USA" width="100%" ></a></div>
                        </div>
                        
                    </div>
                   
                </div>
            </div>

            <div class="contact-form">
                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4 text-light">
                            <h3 class="mb-4">Let's talk about everything.</h3>
                            <p>&nbsp;</p>
                            <div style="width: 100%;height:100%;background: url('assets/img/contactusbg.svg');"></div>
                            <!-- <p><a href="#contact-area">Read more</a></p> -->
                    </div>
                    <div class="col-md-6">
                        <form id="messageformDiv">
                            <input id="subject" type="text" name="name" placeholder="Name">
                            <input id="to" type="email" name="email" placeholder="Email">
                            <textarea id="content" name="msg"  placeholder="Message"></textarea>
                            <button id="send_email" class="submit-icon" >
								SEND
								<i class="submit-icon ion-paper-airplane"></i>
							</button>
                        </form>
                        <span id="message" style="color:#fff"></span>
                    </div>
                    <div class="col-md-6 d-none">
                        <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
                        <script>
                            function initPano() {
                                // Note: constructed panorama objects have visible: true
                                // set by default.
                                const panorama = new google.maps.StreetViewPanorama(
                                    document.getElementById("map"), {
                                        position: {
                                            lat: ,
                                            lng: 
                                        },
                                        addressControlOptions: {
                                            position: google.maps.ControlPosition.BOTTOM_CENTER,
                                        },
                                        linksControl: false,
                                        panControl: false,
                                        enableCloseButton: false,
                                    }
                                );
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initPano&libraries=&v=weekly" async></script> -->
                        <div id="map">
                            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243.00597380915482!2d77.61419386358301!3d12.965735361639233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae150e09f2d387%3A0x3c605b6156909de2!2sGrit%20Coworks%20-%20Silver%20Palms!5e0!3m2!1sen!2sin!4v1613627426766!5m2!1sen!2sin"
                                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
                            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2587.661354067337!2d10.89250681532033!3d49.5664125793632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a201a1c6f49ae9%3A0xc6a70fad03774e1!2sErlanger%20Str.%2C%2091074%20Herzogenaurach%2C%20Germany!5e0!3m2!1sen!2sin!4v1599605480544!5m2!1sen!2sin"
                                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /contact-area -->

    <footer id="footer-area">
        <div class="container">
            <div class="copyright-area">
                <div class="row">
                    <div class="col-md-12">
                        <h2>www.micromedia.cloud</h2>
                        <p>&copy; Copyright 2019 - All rights reserved <a href="http://www.micromedia.cloud">www.micromedia.cloud</a></p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="social-icon ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="social-icon ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="social-icon ion-social-pinterest"></i></a></li>
                                <li><a href="#"><i class="social-icon ion-social-googleplus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <!-- <script src="assets/js/jquery-3.5.1.min.js"></script> -->
    <!-- <script src="assets/js/jquery.migrate.3.2.2.min.js"></script> -->
    <!-- <script src="assets/js/popper-1.11.0.min.js"></script> -->
    <!-- <script src="assets/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="assets/js/bootstrap-portfilter.min.js"></script> -->
    <!-- <script src="assets/js/waypoints-2.0.3.min.js"></script> -->
    <!-- <script src="assets/js/jquery.counterup.min.js"></script> -->
    <!-- <script src="assets/js/jquery.magnific-popup.min.js"></script> -->
    <!-- <script src="assets/js/jquery.scrollUp.min.js"></script> -->
    <!-- <script src="assets/js/scrollIt.min.js"></script> -->


    <!-- <script src="assets/js/animate-headline.js"></script> -->

    <!-- <script src="assets/js/particles.min.js"></script> -->

    <!-- <script src="assets/js/active.js"></script> -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script>
     
        $(document).ready(function(){
        var from,to,subject,text;
        $("#send_email").click(function(){  
               
            to=$("#to").val();
            subject=$("#subject").val();
            text=$("#content").val();
            if(to!=''&&subject!=''&&text!=''){
                $('#messageformDiv').hide();
            $("#message").text("Sending E-mail...Please wait");
            $.get("http://localhost:5001/micromedia-cloud/us-central/sendMail",{to:to,subject:subject,text:text},function(data){
            if(data=="Sended")
            {
                $("#message").empty().html("Email is been sent at "+to+" . Please check inbox!");
            }

        });
            }else{
                $("#message").text("Please fill the form feild"); 
            }
        });
        });

    </script> -->
  
</div>